{% extends 'base_add.html' %}

{% block content %}

    <div class="form-group put">
        <label for="account_method">订单编号</label>
        <input type="text" name="order" class="form-control" value="{{ ret.pay_id }}">
    </div>

    <div class="form-group">
        <label for="remark">月份</label>
        <input type="month" name="time" class="form-control" value="{{ ret.sales.time|date:"Y-m" }}">
    </div>

    <div class="form-group">
        <label for="account_method">数量</label>
        <input type="text" name="number" class="form-control" value="{{ ret.sales.number }}">
    </div>

    <div class="form-group">
        <label for="account_method">单价</label>
        <input type="text" name="price" class="form-control" value="{{ ret.pay.price }}">
    </div>

    <div class="form-group">
        <label for="account_method">备注</label>
        <input type="text" name="remark" class="form-control" value="{{ ret.remark }}">
    </div>

    <div class="btnn">
        <input type="submit" class="btn btn-primary btn-lg active add" value="保存">
        <a href="/commission/{{ ret.pay.customercol.customer.name }}" class="btn btn-lg active add" role="button">取消</a>
    </div>


{% endblock %}