{% extends 'base_add.html' %}

{% block content %}

    <div class="form-group put">
                    <label for="name">部门</label>
                    <input type="text" name="name" class="form-control" value="{{ ret.name }}">
                </div>

    <div class="btnn">
                    <input type="submit" class="btn btn-primary btn-lg active add" value="保存">
                    <a href="/department/" class="btn btn-lg active add" role="button">取消</a>
                </div>

{% endblock %}