{% extends 'base_add.html' %}

{% block content %}

    <div class="form-group put">
        <label>订单编号</label>
        <select class="selectpicker show-tick form-control" name="order" data-live-search="true">
            {% for cc in pay %}
                {% if cc.id == ret.pay_id %}
                    <option selected>{{ cc.id }}&nbsp;&nbsp;&nbsp;&nbsp;{{ cc.customercol.customer.name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ cc.customercol.name }}</option>
                {% else %}
                    <option>{{ cc.id }}&nbsp;&nbsp;&nbsp;&nbsp;{{ cc.customercol.customer.name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ cc.customercol.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="remark">月份</label>
        <input type="month" name="time" class="form-control" value="{{ ret.sales.time|date:"Y-m" }}">
    </div>

    <div class="form-group">
        <label for="account_method">数量</label>
        <input type="text" name="number" class="form-control" value="{{ ret.sales.number }}">
    </div>

    <div class="form-group">
        <label for="account_method">单价</label>
        <input type="text" name="price" class="form-control" value="{{ ret.pay.price }}">
    </div>

    <div class="btnn">
        <input type="submit" class="btn btn-primary btn-lg active add" value="保存">
        <a href="/commission/" class="btn btn-lg active add" role="button">取消</a>
    </div>


{% endblock %}