{% extends 'base_add.html' %}

{% block content %}

    <div class="form-group put">
        <label for="remark">联络人</label>
        <input type="text" name="contact" class="form-control" value="{{ ret.customercol.name }}">

    </div>

    <div class="form-group">
        <label for="remark">支付时间</label>
        <input type="month" name="pay_time" class="form-control" value="{{ ret.time|date:"Y-m" }}">
    </div>

    <div class="form-group">
        <label for="account_method">金额</label>
        <input type="text" name="money" class="form-control" value="{{ ret.money }}">
    </div>

    <div class="form-group">
        <label for="account_method">支付方式</label>
        <input type="text" name="pay_method" class="form-control" value="{{ ret.payment_method }}">
    </div>

    <div class="form-group">
        <label for="account_method">账号</label>
        <input type="text" name="account_number" class="form-control" value="{{ ret.account_number }}">
    </div>

    <div class="form-group">
        <label for="account_method">备注</label>
        <input type="text" name="remark" class="form-control" value="{{ ret.remark }}">
    </div>

    <div class="btnn">
        <input type="submit" class="btn btn-primary btn-lg active add" value="保存">
        <a href="/project/" class="btn btn-lg active add" role="button">取消</a>
    </div>


{% endblock %}