{% extends 'base_add.html' %}

{% block content %}

    <div class="form-group put">
        <label for="remark">联络人</label>
        <input type="text" name="contact" class="form-control" value="{{ ret.customercol.name }}">

    </div>

    <div class="form-group">
        <label>业务负责人</label>
        <select class="selectpicker show-tick form-control" name="salesman" data-live-search="true">
            {% for ss in sal %}
                {% if ss.id == ret.salesman_id %}
                    <option selected>{{ ss.name }}</option>
                {% else %}
                    <option>{{ ss.name }}</option>
                {% endif %}
            {% endfor %}

        </select>
    </div>

    <div class="form-group">
        <label for="remark">开始时间</label>
        <input type="month" name="start_time" class="form-control" value="{{ ret.start_time|date:"Y-m" }}">
    </div>

    <div class="form-group">
        <label for="account">结束时间</label>
        <input type="month" name="end_time" class="form-control" value="{{ ret.end_time|date:"Y-m" }}">
    </div>

    <div class="btnn">
        <input type="submit" class="btn btn-primary btn-lg active add" value="保存">
        <a href="/project/" class="btn btn-lg active add" role="button">取消</a>
    </div>


{% endblock %}