{% extends 'base.html' %}

{% block content %}
    <div class="col-md-9">
        <div class="top-search">
            <form class="navbar-form navbar-left" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="search_cus" placeholder="Search">
                </div>
                <input type="submit" class="btn btn-default" value="搜索">
            </form>
            <a href="/modify_customer_inf/" class="btn btn-primary btn-lg active add" role="button">新增</a>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">客户</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>

            {% for cus in current_page %}
                <tr>
                    <th scope="row">{{ cus.id }}</th>
                    <td>{{ cus.name }}</td>
                    <td><a href="/modify_customer_inf/{{ cus.id }}" class="btn btn-primary btn-lg active modify"
                           role="button">编辑</a>
                        <a href="/delete_customer_inf/{{ cus.id }}" class="btn btn-primary btn-lg active delete"
                           role="button">删除</a></td>
                </tr>
            {% endfor %}

            </tbody>

        </table>
        <div class="pagination1">
            <nav aria-label="Page navigation" class="center-block">
                <ul class="pagination">

                    {% if current_page.has_previous %}
                        <li><a href="?page={{ current_page.previous_page_number }}" aria-label="Previous"><span
                                aria-hidden="true">上一页</span></a></li>
                    {% else %}
                        <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">上一页</span></a>
                        </li>
                    {% endif %}

                    {% for item in page_range %}
                        {% if current_page_num == item %}
                            <li class="active"><a href="?page={{ item }}">{{ item }}</a></li>
                        {% else %}
                            <li><a href="?page={{ item }}">{{ item }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if current_page.has_next %}
                        <li><a href="?page={{ current_page.next_page_number }}" aria-label="Next"><span
                                aria-hidden="true">下一页</span></a></li>
                    {% else %}
                        <li class="disabled"><a href="" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>

    </div>
{% endblock %}