{% extends 'base.html' %}

{% block content %}
    <div class="col-md-9">
        <div class="top-search">
            <form class="navbar-form navbar-left" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="cus_name" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <a href="/modify_finish/" class="btn btn-primary btn-lg active add" role="button">新增</a>
        </div>

        <table class="table table-bordered">

            <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">客户</th>
                <th scope="col">联络人</th>
                <th scope="col">支付时间</th>
                <th scope="col">金额</th>
                <th scope="col">支付方式</th>
                <th scope="col">账号</th>
                <th scope="col">备注</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>

            {% for cus in ret %}
                <tr>
                    <th scope="row">{{ cus.id }}</th>
                    <td>{{ cus.customercol.customer.name }}</td>
                    <td>{{ cus.customercol.name }}</td>
                    <td>{{ cus.time|date:"Y-m" }}</td>
                    <td>{{ cus.money|floatformat:2 }}</td>
                    <td>{{ cus.payment_method }}</td>
                    <td>{{ cus.account_number }}</td>
                    <td>{{ cus.remark }}</td>
                    <td><a href="/modify_finish/{{ cus.id }}" class="btn btn-primary btn-lg active modify" role="button">编辑</a>
                        <a href="/delete_finish/{{ cus.id }}" class="btn btn-primary btn-lg active delete" role="button">删除</a></td>
                </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>
{% endblock %}