<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科隆智谷</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/blog/bs/js/bootstrap.min.js"></script>

    <style>
        .background{
            display: flex;
            margin-top: 60px;
        }

        .col-1{
            font-size: 40px;
        }

        .col-2{
            font-size: 30px;
        }

        .col-md-3{
            width: 360px;
        }

        .col-md-9{
            margin-top: 65px;
        }

        .table{
            font-size: 25px;

        }

        .btn{
            font-size: 14px;

        }



    </style>

</head>
<body>

<div class="background">

    <div class="col-md-3 ">
        <div class="col-1">导航栏</div>
            <div class="panel-body col-2">
                <ul>
                    <li><a href="/customer_inf/">客户信息</a></li>
                    <li><a href="/customer/">客户收款</a></li>
                    <li><a href="/salesman/">业务员信息</a></li>
                    <li><a href="/project/">支付项目</a></li>
                    <li><a href="/commission/">提成</a></li>
                    <li><a href="/sales/">销量</a></li>
{#                    <li><a href="/finish/">付款记录</a></li>#}
                    <li><a href="/department/">部门</a></li>
                    <li><a href="/history/">导入记录</a></li>
                </ul>
            </div>
    </div>

    <div class="col-md-6">
        <div class="top-search">
            <form class="navbar-form navbar-left" id="form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" class="form-control" id="avatar">
                    <input type="button" class="btn btn-default reg_btn add" value="导入">

                </div>
            </form>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>上次导入时间</th>
                <th>{{ time.create_time|date:"Y-m-d h:d:s" }}</th>
            </tr>
            </thead>

        </table>
    </div>


    <div class="col-md-3">
        <div class="top-search">
            <form class="navbar-form navbar-left" id="form">
                {% csrf_token %}
                <div class="form-group outt">
                    <input type="month" class="form-control" id="date">
                    <input type="button" class="btn btn-default reg_btn out" value="导出Excel">
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    $("#avatar").change(function () {
        // 获取用户选中的文件对象
        var file_obj = $(this)[0].files[0];
        // 获取文件对象的路径

        var reader = new FileReader();

        reader.readAsDataURL(file_obj);

    });

    //基于Ajax提交事件
    $(".add").click(function () {
        var formdata = new FormData();
        formdata.append("avatar",$("#avatar")[0].files[0]);
        formdata.append("csrfmiddlewaretoken",$("[name='csrfmiddlewaretoken']").val());

        $.ajax({
            url:"",
            type:"post",
            data:formdata,
            contentType:false,
            processData:false,
            success:function (data) {
                console.log(data)
            }
        });
    });

    $(".out").click(function () {
        var formdata = new FormData();
        formdata.append("date",$("#date").val());
        formdata.append("csrfmiddlewaretoken",$("[name='csrfmiddlewaretoken']").val());

        $.ajax({
            url:"/history_out",
            type:"post",
            data:formdata,
            contentType:false,
            processData:false,
            success:function (data) {
                console.log(data)
            }
        });
    });

</script>

</body>
</html>

