<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>科隆智谷</title>
  <!-- jquery -->
  <script src="/static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
  <!-- bootstrap -->
  <link href="/static/blog/bs/css/bootstrap.css" rel="stylesheet">
  <script src="/static/blog/bs/js/bootstrap.min.js" type="text/javascript"></script>
  <!-- bootstrap-select -->
  <link rel="stylesheet" href="/static/blog/bs/css/bootstrap-select.css">
  <script src="/static/blog/bs/js/bootstrap-select.min.js"></script>

        <style>
        .background{
            display: flex;
            margin-top: 60px;
        }
        .col-1{
            font-size: 40px;
        }
        .col-2{
            font-size: 30px;
        }
        .col-md-3{
            width: 360px;
        }
        .col-md-9{
            margin-top: 65px;
        }
        .table{
            font-size: 25px;

        }
        .add{
            font-size: 18px;
            float: right;
        }
        .btn_flash{
            margin-right: 300px;
        }

    </style>

</head>
 
<body>
    <div class="qwqwqw">
    <div class="background">

        <div class="col-md-3 ">
        <div class="col-1">导航栏</div>
            <div class="panel-body col-2">
                <ul>
                    <li><a href="/customer_inf/">客户信息</a></li>
                    <li><a href="/customer/">客户收款</a></li>
                    <li><a href="/salesman/">业务员信息</a></li>
                    <li><a href="/project/">支付项目</a></li>
                    <li><a href="/commission/">提成</a></li>
                    <li><a href="/finish/">付款记录</a></li>
                    <li><a href="/department/">部门</a></li>
                    <li><a href="/history/">导入记录</a></li>
                </ul>
            </div>
    </div>

        <div class="col-md-9">
        <div class="top-search">
            <form class="navbar-form navbar-left" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="cus_name" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <a href="/modify_project/" class="btn btn-primary btn-lg active add" role="button">新增</a>
        </div>

        <table class="table table-bordered">

            <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">客户</th>
                <th scope="col">联络人</th>
                <th scope="col">负责人</th>
                <th scope="col">
                <select class="selectpicker show-tick form-control" data-live-search="true">

                    <option>开始时间</option>
                    <option value="/project/">全部</option>

                    {% for foo in opt %}

                        <option value="/project/{{ foo.start_time|date:"Y-m" }}/">{{ foo.start_time|date:"Y-m" }}</option>

                    {% endfor %}

                </select>
                </th>
                <th scope="col">结束时间</th>
                <th scope="col">单价</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>

            {% for cus in ret %}
                <tr>
                    <th scope="row">{{ cus.id }}</th>
                    <td>{{ cus.customercol.customer.name }}</td>
                    <td>{{ cus.customercol.name }}</td>
                    <td>{{ cus.salesman.name }}</td>
                    <td>{{ cus.start_time|date:"Y-m" }}</td>
                    <td>{{ cus.end_time|date:"Y-m" }}</td>
                    <td>{{ cus.price }}</td>
                    <td><a href="/modify_project/{{ cus.id }}" class="btn btn-primary btn-lg active modify"
                           role="button">编辑</a>
                        <a href="/delete_project/{{ cus.id }}" class="btn btn-primary btn-lg active delete"
                           role="button">删除</a></td>
                </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>


    </div>
</div>
    <script>
        var select = document.querySelector('select');
        select.onchange = function(){
	    window.location=this.value;
        };

    </script>

</body>

</html>