<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/blog/bs/js/bootstrap.min.js"></script>

    <style>
        .col-md-3{
            margin-top: 50px;
        }
        .col-3{
            font-size: 20px;
        }
    </style>

</head>

<body>

    <div class="container-fluid">
        <div class="col-md-3"></div>
        <table class="table table-hover col-3">
            <tr>
                    <th>业务员</th>
                    <th>时间</th>
                    <th>部门</th>
                    <th>客户名称</th>
                    <th>对接人</th>
                    <th>备注</th>
                    <th>送货数量</th>
                    <th>计提数量</th>
                    <th>单价</th>
                    <th>金额</th>
                    <th>付款日期</th>
                    <th>收款人</th>
                    <th>账号</th>
                    <th>开户银行</th>
            </tr>
        </table>
    </div>
        {% for pay in tol  %}
            <p>{{ pay.saleman.name }} {{ pay.customer }}&nbsp;&nbsp;</p>
        {% endfor %}

</body>
</html>